{% extends 'layouts/base.html' %}
{% block title %} Create Student {% endblock %}
{% block body %}
    <h1> Create Track </h1>

<form method="POST">
    <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" aria-describedby="emailHelp">
  </div>
    <div class="mb-3">
    <label  class="form-label">Image</label>
    <input type="text" name="image" class="form-control" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}